.bg-primary1 {
    background-image: linear-gradient(rgb(0, 0, 129), rgb(0, 0, 190));
}

.text-primary1 {
    color: rgb(85, 85, 255);
}

.email {
    color: rgb(85, 85, 255);
}

.projects-links {
    color: rgb(85, 85, 255);
}


body {
    background-image: linear-gradient(white, rgb(255, 241, 202));
    /* background-color: rgb(255, 243, 211) */
}

/* Projects section ----------------------------------------------------------*/

.projects-name-and-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects-name-and-logo > h4{
    margin-top: 10px;
}

.space-racer-img {
    width: 50px;
    height: 50px;
    margin-right: 50px;
}

.soundWave-img {
    width: 65px;
    height: 50px;
    margin-right: 40px;
}

.fanquack-img {
    width: 65px;
    height: 50px;
    margin-right: 40px;
    background-color: #3536d5;
    padding: 5px;
}

.peach-img {
    width: 65px;
    height: 50px;
    margin-right: 40px;
}

.meTube-img {
    width: 140px;
    height: 50px;
}

.musicBox-img {
    width: 130px;
    height: 50px;
}
